<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserOperaLogMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into USER_OPERA_LOG(
			USER_PHONE,	
			CREATE_TIME,	
			OPERA_TYPE,	
			OPERA_RESULT,	
			ERROR_CODE
		) values (
			#{USER_PHONE},	
			#{CREATE_TIME},	
			#{OPERA_TYPE},	
			#{OPERA_RESULT},	
			#{ERROR_CODE}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from USER_OPERA_LOG
		where 
			ID = #{ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  USER_OPERA_LOG
			set 
				USER_PHONE = #{USER_PHONE},
				CREATE_TIME = #{CREATE_TIME},
				OPERA_TYPE = #{OPERA_TYPE},
				OPERA_RESULT = #{OPERA_RESULT},
				ERROR_CODE = #{ERROR_CODE}
			where 
				ID = #{ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			USER_PHONE,	
			CREATE_TIME,	
			OPERA_TYPE,	
			OPERA_RESULT,	
			ERROR_CODE,	
			ID
		from 
			USER_OPERA_LOG
		where 
			ID = #{ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.USER_PHONE,	
				a.CREATE_TIME,	
				a.OPERA_TYPE,	
				a.OPERA_RESULT,	
				a.ERROR_CODE,	
				a.ID
		from 
				USER_OPERA_LOG a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.USER_PHONE,	
				a.CREATE_TIME,	
				a.OPERA_TYPE,	
				a.OPERA_RESULT,	
				a.ERROR_CODE,	
				a.ID
		from 
				USER_OPERA_LOG a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from USER_OPERA_LOG
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>